@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&family=Nunito:wght@300;400;500;600;700;900&family=Roboto+Mono:wght@300;400;700&display=swap");

* {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --gredend: linear-gradient(
    0deg,
    rgba(245, 125, 255, 1) 0%,
    rgba(87, 203, 255, 1) 50%,
    rgba(136, 146, 176, 1) 69%,
    rgba(8, 12, 105, 1) 100%
  );
  --f-roboto: "calibri", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--navy);
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: var(--navy);
  box-shadow: inset 0 0 4px var(--green);
} */
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-slate);
  border-radius: 8px;

  border: 4px solid var(--navy);
}

/* nav style */
nav {
  justify-content: space-between;
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0 32px;
  text-transform: capitalize;
  color: var(--light-slate);
  max-width: 1340px;
  margin: 1rem auto;
  box-shadow: 0px 1px 15px 0px var;
}
ol {
  display: flex;
  list-style: none;
  font-size: 14px;

  font-weight: bold;
  font-family: var(--f-roboto);
  display: flex;
}

li {
  margin: 0 0.5rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  color: var(--light-slate);
}
nav li {
  font-size: 16px;
}
li:hover {
  color: var(--green);
  transition: all 0.3s;
}

li > span {
  color: var(--green);
}
.resume {
  border: 1px solid var(--green);
  cursor: pointer;
  border-radius: 0.3rem;
  color: var(--green);
  width: 5rem;
  text-align: center;
}
.resume:hover {
  background-color: var(--green-tint);
}
/* nav style end */
/* hero-star */
body {
  max-width: 1440px;
  margin: 0 auto;
}
main {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  flex-direction: column;

  padding: 1rem 6rem;
}
.hero {
  font-family: var(--f-roboto);
  display: flex;
  flex-direction: column;
  max-height: 600px;
  height: 100vh;
  align-items: flex-start;
  max-width: 1000px;
}
.left-panel,
.right-panel {
  position: fixed;
  width: 5rem;
  text-align: center;
  bottom: 0;
}

.left-panel {
  left: 0;
}
.left-panel::after {
  content: "";
  min-height: 6rem;
  width: 1px;

  background-color: var(--slate);
  display: flex;
  margin-left: 50%;
  margin-top: 1rem;
}
.right-panel {
  right: 0;

  display: flex;
  align-items: center;
  transform: rotate(90deg);
  bottom: 18rem;
}
.right-panel a {
  text-decoration: none;
  color: var(--lightest-slate);
  font-family: var(--f-roboto);
  font-size: 12px;
  font-weight: 100;
  transition: 0.3s all;
  letter-spacing: 2px;
}
.right-panel a:hover {
  color: var(--green);
  transform: translateX(-1rem);
}
.right-panel::after {
  content: "";
  min-width: 6rem;
  height: 1px;
  display: block;
  background-color: var(--slate);
  margin-left: 1rem;
}

h4 {
  color: var(--green);
  margin: 1rem 0 2rem 0;
  font-family: "Nunito";
  font-weight: 400;
}
h1 {
  font-size: clamp(36px, 7vw, 70px);
  font-weight: 700;
  color: var(--light-slate);
  font-family: var(--f-roboto);
}
p {
  color: var(--slate);
  font-family: var(--f-roboto);
  line-height: 1.75rem;
  font-size: 18px;
  font-weight: 400;
  max-width: 510px;
  margin-bottom: 20px;
}
.hero > p {
  margin-bottom: 10px;
}
.hero > p::after {
  content: "Applications.";
  color: var(--green);
}
.hero h1 {
  color: var(--lightest-slate);
}
.btn-hero {
  color: white;
}
.btn-hero:hover {
  background-color: var(--green-tint);
}
.logo {
  width: auto;
}
.logo-img {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 6;
}
.logo-img::before {
  content: "";
  min-width: 100%;
  min-height: 100%;
  border: 1px solid var(--green);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateZ(45deg);
  z-index: -1;
}
.logo-img img {
  width: 100%;
  height: 100%;
  z-index: 8;
  transform: translate(2px, 2px);
}
.btn-hero {
  border: solid 1px var(--green);
  width: 16rem;
  text-align: center;
  color: var(--green);
  padding: 0.75rem 1rem;
  border-radius: 6px;
  margin-top: 3rem;
}

/* section-about-me */

.about-body {
  max-width: 1000px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about-me {
  max-width: 1000px;
  /* padding: 0 3rem; */
  justify-content: space-between;
  align-items: flex-start;
}
.about-text {
  width: 50%;
}
.about-title {
  font-size: 2rem;
  font-family: var(--f-roboto);
  color: var(--light-slate);
  min-width: 60vw;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 0 4rem 0;
  display: flex;

  align-items: center;
}
.about-title::before {
  content: "01.";
  color: var(--green);
  font-size: 20px;
  font-weight: 400;
  margin-right: 10px;
}
.about-title::after {
  content: "";
  min-width: 30vw;
  max-width: 200px;
  height: 1px;
  background-color: var(--lightest-navy);
  display: block;
  margin-left: 40px;
}
.img {
  width: 40%;
  max-width: 280px;
  /* min-height: 225px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img::after {
  content: "";
  min-width: 100%;
  height: 100%;
  display: block;
  border: 2px solid var(--slate);
  position: absolute;
  left: 1rem;
  z-index: -1;

  top: 1rem;
  border-radius: 6px;
  box-sizing: border-box;
}
.img > .img-container {
  width: 100%;

  border-radius: 6px;
}
.img-container > img {
  width: 100%;
  filter: grayscale(100%) contrast(1) brightness(90%);
  border-radius: 6px;
  object-fit: cover;

  top: 0;
  left: 0;
}
img:hover {
  transition: 0.3s all;
  filter: none;
  cursor: pointer;
}

a {
  color: var(--green);
  text-decoration: none;
}
.tecnolonies {
  display: flex;
  font-size: 14px;
  color: var(--slate);
  font-family: var(--f-roboto);
  margin-left: -16px;
  margin-bottom: 5rem;
}
.tecnolonies li {
  list-style: none;
}
.tecnolonies li:hover {
  cursor: auto;
  color: var(--light-slate);
}
.tecnolonies li::before {
  content: "▹";
  color: var(--green);
  margin-right: 6px;
}

.feature-section {
  display: flex;
  flex-direction: column;

  margin-top: 6rem;
}
.feature::before {
  content: "02.";
}

.feature-project,
.right-align-article {
  padding: 1rem;
  position: relative;
  margin-bottom: 3rem;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  border-radius: 4px;
}
.feature-project > a {
  width: 60%;
  height: 80%;
  position: absolute;
  left: 0;
  background-color: #57cbff;
}
.strip {
  width: 70%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  position: absolute;
}
.right-align {
  width: 70%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  position: absolute;
}

.right-align-article > a {
  position: absolute;
  width: 70%;

  height: 100%;
  right: 0;
}

.right-align-article > a > img {
  width: 100%;
  height: 100%;
}
a .overlay {
  background-color: #020813b2;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.7s;
}
a .overlay:hover {
  background-color: transparent;
}
.description {
  background-color: var(--light-navy);
  padding: 1.5rem;
  margin: 0;
}
.feature-project > a > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.tools {
  margin-top: 1rem;
}

.feature-section h4 {
  margin-bottom: 0;
}
.feature-section h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.tools {
  word-spacing: 1rem;
  font-size: 14px;
  font-weight: 400;
}
.tab-container {
  display: flex;
  flex-direction: column-reverse;

  align-items: center;
  font-family: var(--f-roboto);
  /* max-height: 400px; */
}
.project-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-container {
  background-color: var(--light-navy);
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 0px 2px 15px 0px rgba(1, 13, 37, 0.514);
  color: var(--light-slate);
  max-width: 300px;
  margin: 0.5rem;
}

.card-container:hover {
  cursor: pointer;
  transform: translateY(-8px);
  transition: all 0.3s;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1.75rem 0;
}
.card-title:hover {
  color: var(--green);
}
.card-container .card-detail p {
  line-height: 1.25rem;
  font-size: 17px;
  color: var(--light-slate);
  margin-top: 0.8rem;
  font-weight: 500;
}

.card-title {
  font-weight: 800;
  color: var(--lightest-slate);
}
.card-detail > .tools {
  font-weight: 300;
  font-family: var(--f-roboto);
  color: var(--slate);
}
.card-header i {
  font-size: 3rem;
}
.github-container i {
  color: var(--light-slate);
  font-size: 1.25rem;
  margin-left: 0.75rem;
}
.card-container i:hover {
  transform: translateY(0);
}
.project-title {
  color: var(--white);
  text-transform: capitalize;
  font-size: 24px;
}

.btn-project {
  font-size: 16px;
  color: var(--white);
  text-transform: capitalize;
  font-family: var(--f-roboto);
  box-shadow: 0px 2px 15px -10px var(--navy-shadow);
  transition: all 0.3s;

  margin-top: 2rem;
}
.project-btns {
  padding: 0;

  list-style: none;
  text-align: center;

  margin-bottom: 2rem;
}

ul {
  list-style: none;
}
.project-detail {
  padding: 0rem 0 0rem 1.5rem;
  border-left: solid 2px var(--green);
  font-size: 14px;
  margin-top: 1rem;
}
.project-detail > p {
  font-size: 18px;
}
.project-detail ul {
  display: flex;
}
.project-detail li {
  margin: 0.2rem 1rem 0.2rem 0;
  text-transform: capitalize;
  font-family: var(--f-roboto);
  letter-spacing: 2px;
  border-bottom: 1px solid var(--green);
  padding: 0.5rem 0;
}
.project-btns ul {
  display: flex;
}
ul::-webkit-scrollbar {
  width: 5px;
}

.icon > i {
  color: white;
  font-size: 20px;
  transition: 0.05s;
  opacity: 0.5;
}
i:hover {
  color: var(--green);
  transform: translateY(-3px);
}
.project-list-title {
  font-size: 28px;
  color: var(--green);
  border: var(--green) 1px solid;
  cursor: pointer;
  padding: 0.2rem 2rem;
}
.strip-icons {
  width: 3.5rem;
  display: flex;
  justify-content: space-between;
}
.strip-icons > a > i {
  color: white;
  opacity: 0.5;
  transition: all 0.1s;
}
.strip-icons > a > i:hover {
  transform: translate(0);
  color: var(--green);
}
ul::-webkit-scrollbar-track {
  background: var(--navy);
  box-shadow: inset 0 0 4px var(--green);
}

ul::-webkit-scrollbar-thumb {
  background: #020c1b;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 20px;
  background-clip: content-box;
  border-color: transparent;
  border-style: solid;
  border-width: 1px 2px;
}
/* footer */
footer {
  text-align: center;

  margin: 0 auto;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}
.container > h4 {
  text-transform: capitalize;
  word-spacing: 0.4rem;

  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 20px;
  font-family: "nunito";
}
.container > h4::before {
  content: "04.";
  margin-right: 1rem;
}
footer ul {
  justify-content: center;
  margin-top: 1.5rem;
  display: none;
}
footer p {
  font-size: 20px;
  max-width: 650px;
}
footer .btn-hero {
  margin: 0 auto;
  width: 8rem;
  letter-spacing: 2px;
  margin-top: 3rem;
  cursor: pointer;
}
footer h2 {
  font-size: 36px;
  color: var(--white);
  font-family: var(--f-roboto);
  margin-bottom: 0.5rem;
}
.my-info {
  color: var(--light-slate);
  font-family: var(--f-roboto);
  margin-top: 1.2rem;
}
.my-info:hover {
  color: var(--green);
  transition: all 0.3s;
  cursor: pointer;
}
.sidebar-links-container {
  display: none;
}

@media screen and (max-width: 790px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto 1rem;
    /* background-color: #57cbff; */
    height: inherit;
    padding: 1rem;
  }
  .hambuger-container {
    cursor: pointer;
  }
  .hambuger {
    min-height: 2px;
    width: 2rem;
    position: relative;
    background-color: var(--green);
    display: block;

    cursor: pointer;
  }
  .hambuger::before {
    content: "";
    height: 2px;
    width: 2.5rem;
    background-color: var(--green);
    position: absolute;
    top: -0.65rem;
    right: 0;
  }
  .hambuger::after {
    content: "";
    height: 2px;
    width: 1.5rem;
    background-color: var(--green);
    position: absolute;
    top: 0.65rem;
    right: 0;
  }
  ol {
    display: none;
  }
  main {
    padding: 1rem;
  }
  .hero {
    margin-left: 2rem;
  }
  h1 {
    line-height: 2.5rem;
    margin-top: 0.5rem;
  }
  .left-panel,
  .right-panel {
    display: none;
  }
  p {
    font-size: 16px;
  }
  .about-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me {
    padding: 0 3rem;
  }

  .about-text {
    width: 100%;
  }
  .img {
    width: 100%;
  }
  .about-title {
    font-size: 24px;
  }
  /* feature project section */
  .feature-project {
    /* display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr); */
    align-items: center;
    position: relative;

    margin-top: 2rem;
    height: 350px;
    /* margin: auto; */
    border-radius: 6px;
    overflow: hidden;
  }
  .right-align-article {
    height: 350px;
    border-radius: 6px;
    overflow: hidden;
  }
  .feature-project > a {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }
  .right-align-article > a {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }
  .feature-project > a > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .feature-project .strip {
    background-color: var(--navy-shadow);
    align-items: baseline;
    height: 100%;
    width: 100%;
    padding: 2rem 4rem;
  }
  .right-align {
    padding: 2rem 4rem;
    background-color: var(--navy-shadow);
    width: 100%;
    height: 100%;
  }
  .feature-project > .strip {
    text-align: left;
  }
  .description {
    background-color: transparent;
    padding: 0;
  }
  .btn-project {
    /* display: none; */
  }
  .project-btns {
    /* display: none; */
  }

  .tab-container {
    justify-content: center;
  }
  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  footer ul {
    display: flex;
  }
  .card-container {
    min-width: 80vw;
  }

  .sidebar-links-container {
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    background-color: var(--light-navy);
    height: 100vh;
    padding: 1rem 1rem;
    font-family: inherit;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar-show {
    transform: translateX(0%);
    transition: 0.3s all ease-in-out;
  }
  .sidebar-header {
    padding: 2rem 0;
  }
  .closer {
    position: absolute;
    right: 2rem;
    top: 2.5rem;
  }
  .sidebar-links span {
    font-size: 1rem;
  }
  .sidebar-links a li {
    color: var(--lightest-slate);
    font-size: 1.35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: var(--f-roboto);
  }
  p {
    font-size: 18px;
  }
}
@media screen and (max-width: 620px) {
  .feature-project .strip {
    padding: 1.8rem;
  }
  .right-align-article {
    padding: 1.8rem;
  }
  p {
    font-size: 18px;
  }
  .right-align {
    padding: 1rem;
  }
  nav {
    padding: 1rem 0;
    margin: 0;
  }
}
